TransactionalKeyValueStorage.xcodeproj/project.xcworkspace/xcuserdata/pavlonovak.xcuserdatad/UserInterfaceState.xcuserstate
TransactionalKeyValueStorage.xcodeproj/xcuserdata/pavlonovak.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
